flows.json
[
    {
        "id": "d9ad0139.424cf",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b8f43369.dc161",
        "type": "ibmiot in",
        "z": "d9ad0139.424cf",
        "authentication": "apiKey",
        "apiKey": "47732193.a829a",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "12345",
        "applicationId": "",
        "deviceType": "NodeMCU",
        "eventType": "+",
        "commandType": "Data",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": false,
        "allFormats": false,
        "qos": 0,
        "x": 200,
        "y": 120,
        "wires": [
            [
                "d4a1f150.5e7",
                "ecfba0c9.47b5e",
                "b57619c.02ab6e8"
            ]
        ]
    },
    {
        "id": "d4a1f150.5e7",
        "type": "debug",
        "z": "d9ad0139.424cf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "ecfba0c9.47b5e",
        "type": "function",
        "z": "d9ad0139.424cf",
        "name": "temperature",
        "func": "msg.payload=msg.payload.d.temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 40,
        "wires": [
            [
                "d4a1f150.5e7",
                "d38bebd4.b383e8",
                "fd5f9911.97bba8"
            ]
        ]
    },
    {
        "id": "b57619c.02ab6e8",
        "type": "function",
        "z": "d9ad0139.424cf",
        "name": "humidity",
        "func": "msg.payload=msg.payload.d.humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 200,
        "wires": [
            [
                "d4a1f150.5e7",
                "ffe4d57c.494358",
                "25a23c3.91b22c4"
            ]
        ]
    },
    {
        "id": "d38bebd4.b383e8",
        "type": "ui_gauge",
        "z": "d9ad0139.424cf",
        "name": "",
        "group": "348ae716.5550d8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 40,
        "wires": []
    },
    {
        "id": "ffe4d57c.494358",
        "type": "ui_gauge",
        "z": "d9ad0139.424cf",
        "name": "",
        "group": "348ae716.5550d8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 620,
        "y": 200,
        "wires": []
    },
    {
        "id": "59ddc974.6559d8",
        "type": "ibmiot out",
        "z": "d9ad0139.424cf",
        "authentication": "apiKey",
        "apiKey": "47732193.a829a",
        "outputType": "cmd",
        "deviceId": "12345",
        "deviceType": "NodeMCU",
        "eventCommandType": "home",
        "format": "json",
        "data": "data",
        "qos": 0,
        "name": "IBM IoT",
        "service": "registered",
        "x": 420,
        "y": 300,
        "wires": []
    },
    {
        "id": "b6452bcf.38fe18",
        "type": "ui_button",
        "z": "d9ad0139.424cf",
        "name": "",
        "group": "348ae716.5550d8",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "motoron",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"motoron\"}",
        "payloadType": "json",
        "topic": "",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "59ddc974.6559d8",
                "40d20adf.63d784"
            ]
        ]
    },
    {
        "id": "d528c523.08a708",
        "type": "ui_button",
        "z": "d9ad0139.424cf",
        "name": "",
        "group": "348ae716.5550d8",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "motoroff",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"motoroff\"}",
        "payloadType": "json",
        "topic": "",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "59ddc974.6559d8",
                "40d20adf.63d784"
            ]
        ]
    },
    {
        "id": "40d20adf.63d784",
        "type": "debug",
        "z": "d9ad0139.424cf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 410,
        "y": 380,
        "wires": []
    },
    {
        "id": "fd5f9911.97bba8",
        "type": "ui_text",
        "z": "d9ad0139.424cf",
        "group": "348ae716.5550d8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature value",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 850,
        "y": 200,
        "wires": []
    },
    {
        "id": "25a23c3.91b22c4",
        "type": "ui_text",
        "z": "d9ad0139.424cf",
        "group": "348ae716.5550d8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humidity value",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 820,
        "y": 340,
        "wires": []
    },
    {
        "id": "47732193.a829a",
        "type": "ibmiot",
        "z": "",
        "name": "",
        "keepalive": "60",
        "serverName": "13sbsg.messaging.internetofthings.ibmcloud.com",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "348ae716.5550d8",
        "type": "ui_group",
        "z": "",
        "name": "smart Agriculture based on IoT",
        "tab": "bc273d93.406fe",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bc273d93.406fe",
        "type": "ui_tab",
        "z": "",
        "name": "smart Agri",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]